<div class="row">
  <div class="col-md-8">
    <p><%= @question.title %></p>
    <p><%= @question.body %></p>
    <p><%= @question.resolved %></p>
  </div>
  <div class="col-md-4">
<!-- #5 -->
    <%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>
    <%= link_to "Delete Question", @question, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this question?'} %>
    <%= link_to "Back to List", questions_path, class: 'btn btn-primary' %>

  </div>
</div>
