<div class="media">
  <%= render partial: 'votes/voter', locals: { post: post } %>
  <div class="media-body">
    <small>
      <%= link_to post.title, topic_post_path(post.topic, post) %>
      <%= render partial: "labels/list", locals: { labels: post.labels } %>
      <%= image_tag @user.avatar_url(48), class: "gravatar", style: "float: left; margin-top: 5px" %><br>
      <%= time_ago_in_words(post.created_at) %> ago<br>
      <%= post.comments.count %> Comments
    </small>
  </div>
</div>
